<div class="next-activity-card">
    <div class="next-activity-header">
        <h3 class="chart-title">Nächste Aktivität</h3>
    </div>

    <div class="next-activity-content">
            <div class="progress-chart" [ngSwitch]="nextActivity">
                <div *ngSwitchCase="'gym'">
                    <div class="content">
                    <img 
                    src="/hantel-2.png" 
                    alt="next Activity Chart" 
                    class="chart-image">
                    <div class ="chart-text">
                        <p style="margin-top: 1vh;">Ganzkörper-Trainig</p>  <!-- Hier noch dynamischen Text einfügen -->
                    </div>
                    </div>
                </div>
            </div>
    </div>
</div>