<div class="input-text-wrapper">
    <div class="card flex justify-center">
        <input  pInputText 
            type="text" 
            [(ngModel)]="value" 
            placeholder="Übung" 
            size="large">
    </div>
    <div class="exercise-type">
        <div class="card flex justify-center">
            <p-checkbox [(ngModel)]="checked_bi" [binary]="true" [disabled]="disabled_bi" inputId="bilateral" (ngModelChange)="onBiClicked($event)" />
            <label for="bilateral" class="ml-2" >Bilateral</label>
        </div>
        <div class="card flex justify-center">
            <p-checkbox [(ngModel)]="checked_un" [binary]="true" [disabled]="disabled_un" inputId="unilateral" (ngModelChange)="onUnClicked($event)"/>
            <label for="unilateral" class="ml-2" >Unilateral</label>
        </div>
    </div>
</div>
