<div class="input-text-wrapper">
    <div class="card flex justify-center">
        <input  pInputText 
            type="text" 
            [(ngModel)]="value" 
            placeholder="Übung" 
            size="large">
    </div>
    <div class="checkbox-group">
        <p-checkbox 
          label="Unilateral" 
          [(ngModel)]="checked_un" 
          [disabled]="disabled_un" 
          binary="true"
          (onChange)="onUnClicked()">
        </p-checkbox>
      
        <p-checkbox 
          label="Bilateral" 
          [(ngModel)]="checked_bi" 
          [disabled]="disabled_bi" 
          binary="true"
          (onChange)="onBiClicked()">
        </p-checkbox>
      </div>
</div>

