<div >
    <div>
        <div class="progress-chart" [ngSwitch]="currentDiv">
            <div *ngSwitchCase="'div1'">
                <app-weight-chart></app-weight-chart>
            </div>
            <div *ngSwitchCase="'div2'">
                <volume-chart></volume-chart>
            </div>
            <div *ngSwitchCase="'div3'">
                <sets-chart></sets-chart>
            </div>
            <select-periode-bar></select-periode-bar>
        </div>
        <div class = "progress-chart-switcher">
            <p-button icon="pi pi-circle-fill" [rounded]="true" [text]="true" severity="contrast" (onClick)="currentDiv = 'div1'"/>
            <p-button icon="pi pi-circle-fill" [rounded]="true" [text]="true" severity="contrast" (onClick)="currentDiv = 'div2'"/>
            <p-button icon="pi pi-circle-fill" [rounded]="true" [text]="true" severity="contrast" (onClick)="currentDiv = 'div3'"/>
        </div>
    </div>
    <sidebar></sidebar>
</div>