.chart-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a661c4;
    width: 13vw;
    height: 6vh;
    border-radius: 10px;
}

.chart-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.chart-content {
    background-color: white;
    width: 13vw;
    height: 18vh;
    border-radius: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-image {
    width: 7vw;
    height: auto;
    align-self: center;
}
.chart-text {
    font-size: 1.2rem;
    font-weight: normal;
    align-self: center;
}

