<div class="card flex justify-center">
    <p-drawer [(visible)]="visible">
        <ng-template #headless>
            <div class = "container">
                <div class="box-1">
                    <img class="no-select" src="/banane.png" height="55" width="55">
                </div>
                <div class="box-2">
                    <p class="brand-name" style="color:black">Banana</p>
                </div>
                <div class="box-3">
                    <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" (onClick)="closeCallback()" severity="help"/>
                </div>
            </div>
            <ul>
                <li>
                    <div class="button-div" (click)="goToDashboard()" >
                            <i class="pi pi-home" style="font-size: 2.2rem" ></i>
                            <p class="button-font">Dashboard</p>  
                    </div>
                    <div class="button-div">
                            <i class="pi pi-user" style="font-size: 2.2rem"></i>
                            <p class="button-font">Profil</p>  
                    </div>
                </li>
                <li>
                    <div class="button-div">
                            <i class="pi pi-chart-line" style="font-size: 2.2rem"></i>
                            <p class="button-font">Statistik</p>  
                    </div>
                </li>
                <li>
                    <div class="button-div">
                            <i class="pi pi-list" style="font-size: 2.2rem"></i>
                            <p class="button-font">Neuer Plan</p>  
                    </div>
                </li>
                <li>
                    <div class="button-div">
                            <img class="hantel" src="/hantel.png">
                            <p class="button-font">Neue Übung</p>  
                    </div>
                </li>
            </ul>
        </ng-template>
    </p-drawer>   
</div>
<div class="sidebar-button">
    <p-button (click)="visible =true" icon="pi pi-align-justify" size="large" severity="help"></p-button>
</div>