$black: #333;
$white: #ffffff;
$color-1: #920079;
$label-z: 200;
$svg-z: 100;

.muscle-groups {
  position: relative;
  width: 340px;
  border-radius: 5px;
  //overflow: hidden;
  h1 {
    margin: -.5rem -1rem 1rem;
    padding: 0 1rem .75rem;
    background: $color-1;
    color: $white;
    text-align: center;
    font-size: 1.25rem;
  }
  h2 {
    margin: 0 0 .5rem;
    font-size: .8rem;
    letter-spacing: -.03em;
    text-transform: uppercase;
  }
  
  label {
    width: 50px;
    display: block;
    margin-bottom: .5rem;
    margin-right: 10vb;
    cursor: pointer;
    font-size: .7rem;
    opacity: .5;
    position: relative;
    z-index: $label-z;
    border-left: 5px solid transparent;
    padding-left: 6px;
    margin-left: -11px;
    &:hover, &.hover {
      opacity: 1;
      border-color: rgba($black, .75);
    }
  }
  input:checked + label {
    opacity: 1;
    font-weight: bold;
    color: $color-1;
  }
  svg {
    position: absolute;
    right: -1.5rem;
    bottom: 3rem;
    height: 350px;
    z-index: $svg-z;
  }
  svg g[id] path {
    opacity: .2;
    transition: opacity .25s ease-in-out;
  }
  
  .muscles-helper {
    display: none;
    margin-right: 3vb;
  }
  $groups: obliques, abs, quads, biceps, adductors, pectorals, deltoids, hamstrings, quads, forearms, calves, triceps, glutes, lats, trapezius;
  @each $muscle in $groups {
    $upper: to-upper-case(str-slice($muscle, 1, 1)) + str-slice($muscle, 2);
    label[for="#{$muscle}"]:hover ~ svg ##{$upper} path {
      opacity: .75;
    }
    .#{$muscle}:checked ~ svg ##{$upper} path {
      opacity: .8;
      fill: $color-1 !important;
    }
  }
}

body {
  font-family: Roboto;
}

.muscle-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .info {
    font-size: .8rem;
    display: block;
    width: 250px;
    padding-top: 200px;
    color: $white;
    padding-left: 2rem;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
    a {
      color: $white;
    }
  }
}