.last-activity-card{
    margin-left: 5vw;
}

.last-activity-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 15vw;
    height: 10vh;
    border-radius: 10px;
}

.chart-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.last-activity-content {
    background-color: lightgrey;
    width: 15vw;
    height: 20vh;
    border-radius: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-image {
    width: 9vw;
    height: auto;
    align-self: center;
}
.chart-text {
    font-size: 1.2rem;
    font-weight: normal;
    margin-left: 10px;
    align-self: center;
}

