.new-exercise-header{
    display: flex;
    align-items: center;
    background-color: red;
    margin-left: 2%;
    width: auto;
    height: 8vh;
}

.new-exercise-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    margin-top: 2vh;
    gap: 4.5vw;
    width: 100%;
    height: 80vb;
}

.new-exercise-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 28vw;
    height: 74vh;
    border-radius: 20px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.new-exercise-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 74vh;
    border-radius: 20px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.new-exercise-container-header{
    background-color: royalblue;
    width: auto;
   
    margin-left: 2vb;
}

.new-exercise-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10vh;
    gap: 2vw;
}

.muscle-selector-wrapper{
    margin-top: 2vh;
    display: flex;
    //background-color: rgb(63, 9, 255);
    height: auto;
    
}

.input-text-wrapper{
    margin-top: 50%;
}

