<div>
    <div class="new-exercise-header">
        <h1>Neue Übung erstellen</h1>
    </div>
    <div class="new-exercise-content">
        <div class="new-exercise-container">
            <div class="new-exercise-container-header">
                <h2>Name der Übung</h2>
            </div>
            <exercise-name #exerciseRef></exercise-name>
        </div>
        <div class="new-exercise-container-2">
            <div class="new-exercise-container-header">
                <h2>Zielmuskelgruppe wählen</h2>
            </div>
            <div class="muscle-selector-wrapper">
                <muscle-selector #muscleSelectorRef></muscle-selector>
            </div>
        </div>
        <div class="new-exercise-container">
            <div class="new-exercise-container-header">
                <h2>Benötigtes Equipment</h2>
            </div>
            <req-exquipment #equipmentRef></req-exquipment>
        </div>
    </div>
    <div class="new-exercise-footer">
        <p-button   label="Save" 
                    icon="pi pi-check" 
                    size="large" 
                    severity="secondary" 
                    [disabled]="canSave"
                    />
        <p-button   label="Delete" 
                    icon="pi pi-trash" 
                    size="large" 
                    severity="secondary"
                    (onClick)="clearAll()"/>
    </div>
</div>
<sidebar></sidebar>